@import url('./css/ig_logo.css');
@import url('./css/netflix_logo.css');
@import url('./css/tiktok_logo.css');

:root {
  --color-scheme: light dark;
  --bg-color-dark: #222;
  --bg-color-light: #ccc;
}

.container {
  width: 100%;
}

.sub-container {
  padding: 30px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-color-dark);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-color-light)
  }
}
